{% extends 'base.html' %}

{% block title %}Hobby update{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center text-uppercase">Hobby update</h2>

    <form method="POST" class="form-group mt-4" id="form-container">
        {% csrf_token %}
        {{formset.management_form}}
        {% for form in formset %}
            <div class="hobby-form">
                {% if form.name.value != None %}
                    {{form|crispy}}
                    <hr class="bg-info border-3 border-bottom border-info">
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" name="save" class="btn btn-outline-success float-end">Update</button>
    </form>

{% endblock %}