{% extends 'base.html' %}

{% block title %}Add skill{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center">ADD A NEW SKILL</h2>

    <form method="POST" class="form-group" id="form-container">
        {% csrf_token %}
        {{formset.management_form}}
        {% for form in formset %}
            <div class="skill-form">
                {{form|crispy}}
                 <hr class="bg-info border-3 border-bottom border-info">
            </div>
        {% endfor %}
        <button id="add-form" type="button" name="add" class="btn btn-primary float-start">Add Another Skill</button>
        <button type="submit" name="save" class="btn btn-success float-end">Create Skill</button>
    </form>

    <script>
        let skillForm = document.querySelectorAll('.skill-form')
        let container = document.querySelector('#form-container')
        let addButton = document.querySelector('#add-form')
        let totalForms = document.querySelector('#id_form-TOTAL_FORMS')
        let formNum = skillForm.length - 1

        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = skillForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}