{% extends 'base.html' %}

{% block title %}Add skill{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center text-uppercase">Add a new skill</h2>

    <div class="col-md-10 offset-md-1 my-4">
        <div class="progress my-4 mx-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 83.5%" aria-valuenow="83.5" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form method="POST" class="form-group mt-4" >
            {% csrf_token %}
            {{formset.management_form}}
            {% for form in formset %}
            <ul class="list-group list-group-flush" id="ul-container">
                <li class="list-group-item skill-form">
                    {{form|crispy}}
                </li>
            </ul>
            {% endfor %}
            <button id="add-form" type="button" name="add" class="btn btn-primary float-start ms-3">Add Another Skill</button>
            <button type="submit" name="save" class="btn btn-success float-end me-3">Create Skill</button>
        </form>
    </div>

    <script>
        let skillForm = document.querySelectorAll('.skill-form')
        let container = document.querySelector('#ul-container')
        let addButton = document.querySelector('#add-form')
        let totalForms = document.querySelector('#id_form-TOTAL_FORMS')
        let formNum = skillForm.length - 1

        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = skillForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.appendChild(newForm)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}