{% extends 'base.html' %}

{% block title %}Add experience{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center text-uppercase">Add a new experience</h2>

    <div class="progress my-4 mx-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 66.8%" aria-valuenow="66.8" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form method="POST" class="form-group mt-4">
        <div class="div-container">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <ul class="list-group list-group-flush" id="ul-container">
                <li class="list-group-item experience-form">
                    {{ form|crispy }}
                </li>
            {% endfor %}
                    {% for form_description in formset_description %}
                    <div class="experienceDescription-form">
                        {{ form_description|crispy }}
                    </div>
                    {% endfor %}
            </ul>
        </div>
        <div class="row my-3 ms-3">
            <button id="add-formDescription" type="button" name="add" class="btn btn-info float-start col-auto">Add Another Job Description</button>
        </div>
            <button id="add-form" type="button" name="add" class="btn btn-primary float-start ms-3">Add Another Experience</button>
            <button type="submit" name="save" class="btn btn-success float-end me-3">Create Experience</button>
    </form>

    <script>
        let experienceForm = document.querySelectorAll('.experience-form')
        let container = document.querySelector('#ul-container')
        let addButton = document.querySelector('#add-form')
        let totalForms = document.querySelector('#id_form-TOTAL_FORMS')
        let formNum = experienceForm.length - 1

        totalForms.setAttribute('value', 2)

        let experienceDescriptionForm = document.querySelectorAll('.experienceDescription-form')
        let descriptionContainer = document.querySelector('#div-container')
        let addDescriptionButton = document.querySelector('#add-formDescription')
        let formDescriptionNum = document.getElementsByClassName('textarea').length - 1

        addButton.addEventListener('click', addForm)
        addDescriptionButton.addEventListener('click', addDescriptionForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = experienceForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')
            let formDescriptionRegex = RegExp(`form-(\\d){1}-description`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)

            formDescriptionNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formDescriptionNum}-description`)
            container.appendChild(newForm)
            console.log(newForm.innerHTML)

            totalForms.setAttribute('value', `${parseInt(totalForms.value, 10) + 2}`)
        }

        function addDescriptionForm(e) {
            e.preventDefault()

            let newDescriptionForm =  experienceDescriptionForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formDescriptionNum++

            newDescriptionForm.innerHTML = newDescriptionForm.innerHTML.replace(formRegex, `form-${formDescriptionNum}-`)
            container.appendChild(newDescriptionForm)

            totalForms.setAttribute('value', `${parseInt(totalForms.value, 10) + 1}`)
        }
    </script>
{% endblock %}

może dodać jakąś klase przy tworzeniu nowego experience, która będzie w divie i zostanie dziedziczona przy tworzeniu nowego description