{% extends 'base.html' %}

{% block title %}Add personal information{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center">ADD PERSONAL INFORMATION</h2>

    <div class="progress my-4">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 33.3%" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form method="POST" class="form-group" id="form-container">
        {% csrf_token %}
        {{form|crispy}}
            <button type="submit" name="save" class="btn btn-success float-end">Submit</button>
    </form>

{% endblock %}