{% load static %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'css/bootstrap.min.css' %}"
/>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-2 my-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{resume.id}}</li>
                  <hr class="bg-info border-3 border-bottom border-info">
                  <li class="list-group-item text-center">PERSONAL</li>
                  <li class="list-group-item">{{resume.personal.first_name}}</li>
                  <li class="list-group-item">{{resume.personal.last_name}}</li>
                  <li class="list-group-item">{{resume.personal.email}}</li>
                  <li class="list-group-item">{{resume.personal.phone}}</li>
                  <li class="list-group-item">{{resume.personal.lin}}</li>
                  <li class="list-group-item">{{resume.personal.description}}</li>
                  <hr class="bg-info border-3 border-bottom border-info">

                  <li class="list-group-item text-center">SCHOOL</li>
                    {% for school in resume.school.all %}
                      <li class="list-group-item">{{school.name}}</li>
                      <li class="list-group-item">{{school.city}}</li>
                      <li class="list-group-item">{{school.degree}}</li>
                      <li class="list-group-item">{{school.field_study}}</li>
                      <li class="list-group-item">{{school.start_date}}</li>
                      <li class="list-group-item">{{school.end_date}}</li>
                      <hr class="bg-info border-3 border-bottom border-success">
                    {% endfor %}
                  <hr class="bg-info border-3 border-bottom border-info">

                  <li class="list-group-item text-center">EXPERIENCE</li>
                    {% for exp in resume.experience.all %}
                      <li class="list-group-item">{{ exp.company }}</li>
                      <li class="list-group-item">{{ exp.city }}</li>
                      <li class="list-group-item">{{ exp.position }}</li>
                      <li class="list-group-item">{{ exp.description }}</li>
                      <li class="list-group-item">{{ exp.start_date }}</li>
                      <li class="list-group-item">{{ exp.end_date }}</li>
                      <hr class="bg-info border-3 border-bottom border-success">
                    {% endfor %}
                  <hr class="bg-info border-3 border-bottom border-info">

                  <li class="list-group-item text-center">SKILL</li>
                    {% for skill in resume.skill.all %}
                      <li class="list-group-item">{{skill.name}}</li>
                      <li class="list-group-item">{{skill.level}}</li>
                      <hr class="bg-info border-3 border-bottom border-success">
                    {% endfor %}
                  <hr class="bg-info border-3 border-bottom border-info">

                  <li class="list-group-item text-center">HOBBY</li>
                    {% for hobby in resume.hobby.all %}
                      <li class="list-group-item">{{hobby.name}}</li>
                      <hr class="bg-info border-3 border-bottom border-success">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>
</html>